*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    background:#0d3b66;
    color:white;
    position:sticky;
    top:0;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:0.3s;
}

nav ul li a:hover{
    color:#ffd166;
}

.hero{
    position:relative;
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    overflow:hidden;
}

.hero p{
    margin:20px 0;
    font-size:20px;
}

.hero button{
    padding:10px 25px;
    border:none;
    background:#ffd166;
    cursor:pointer;
    font-weight:bold;
}

.slideshow{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

.slide{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    transition:opacity 1s ease-in-out;
}

.slide img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.slide.active{
    opacity:1;
}


.hero::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    top:0;
    left:0;
    z-index:0;
}

.hero-content{
    position:relative;
    z-index:2;
}

.section{
    padding:60px 50px;
    text-align:center;
}

.section h2{
    margin-bottom:40px;
    font-size:30px;
    color:#0d3b66;
}

.light{
    background:white;
}

.card-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    gap:25px;
}

.card{
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.card h3{
    margin:15px 0 10px;
}

.card p{
    padding:0 15px 20px;
    font-size:14px;
}


footer{
    background:#0d3b66;
    color:white;
    text-align:center;
    padding:20px;
}